<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.jt.manage.mapper.ItemMapper">
	
    <!-- mysql数据库中表名和字段小写, Oracle中表名和字段名大写 --> 
    <select id="findItemByPage" 
           resultType="Item">
       select * 
       from tb_item
       order by updated desc
       limit #{start},#{rows}
    </select>
    
    <!-- description 
    collection = 取值方式
    1.Map   写key值
    2.数组[] array
    3.List  list
    
    -->
<update id="updateStatus">
        update tb_item
        set status=#{status}, updated=now()
        where id in (
        <foreach collection="ids" item="id" separator=",">
        #{id}
        </foreach>
        )
</update>
    
	
</mapper>